[submodule "Upgradeable-Smart-Contract"]
	path = Upgradeable-Smart-Contract
	url = https://github.com/ruhulamin1398/Upgradeable-Smart-Contract.git
[submodule "Decentralized-Stablecoin--Pegged-to-USD"]
	path = Decentralized-Stablecoin--Pegged-to-USD
	url = https://github.com/ruhulamin1398/Decentralized-Stablecoin--Pegged-to-USD.git
[submodule "Upgradeable-Cross-Chain-Fiat-Stable-Coin"]
	path = Upgradeable-Cross-Chain-Fiat-Stable-Coin
	url = https://github.com/ruhulamin1398/Upgradeable-Cross-Chain-Fiat-Stable-Coin.git
